{% extends 'df_goods/base.html' %}
{% load custom_filter %}
{% block others %}


	<div class="breadcrumb">
		<a href="{% url 'goods:index' %}">全部分类</a>
		<span>></span>
		<a href="/search/">搜索</a>
	</div>

	<div class="main_wrap clearfix">

		<div class="r_wrap fr clearfix">

			<ul class="goods_type_list clearfix">
				{% for each in page %}
                <li>
                    <a href="{% url 'goods:detail' each.object.id %}"><img src="{{ each.object.goods_pic }}" alt="{{ each.object.goods_title|F_delete_num|cut:'爱鲜蜂·' }}"></a>
                    <h4><a href="{% url 'goods:detail' each.object.id %}">{{ each.object.goods_title|F_delete_num|cut:'爱鲜蜂·' }}</a></h4>
                    <div class="operate">
                        <span class="prize">{{ each.object.goods_price }}</span>
                        <span class="unit">{{ each.object.goods_unit }}</span>
                        <a href="{% url 'cart:add' each.object.id 1 %}" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if page.has_previous %}
                    <a href="/search/?q={{ query }}&amp;page={{ page.previous_page_number }}">上一页</a>
                {% endif %}

                {% for page_num in paginator.page_range %}
                    {% if page_num == page.number %}
                        <a href="#" class="active">{{ page_num }}</a>
                        {% else %}
                        <a href="/search/?q={{ query }}&amp;page={{ page_num }}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page.has_next %}
                    <a href="/search/?q={{ query }}&amp;page={{ page.next_page_number }}">下一页></a>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock others %}
