{% extends 'base_header.html' %}
{% block body %}

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/goods/list_1_1_1/" class="fruit">特色水果</a></li>
					<li><a href="/goods/list_2_1_1/" class="seafood">营养小餐</a></li>
					<li><a href="/goods/list_3_1_1/" class="meet">好吃零食</a></li>
					<li><a href="/goods/list_4_1_1/" class="egg">啤酒饮料</a></li>
					<li><a href="/goods/list_5_1_1/" class="vegetables">临时充饥</a></li>
					<li><a href="/goods/list_6_1_1/" class="ice">家用酱品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
{% block others %}
{% endblock others %}
{% endblock body %}

